h1{
    font-size: 250%;
    color: aqua;
    text-align: center;
    font-style: italic;
    font-weight: 800;
    font-family:fantasy;
}
body{
    background-color: blanchedalmond;
}
p{
    font-size:125%;
    color: aqua;
    text-align: center;
    font-weight: 400;
    font-family: sans-serif;
}