body{
    background-color: tomato;
    }
h1{
    text-align: center;
    color:white;
    font-size: 6rem;
    font-family: fantasy;
}
p1{
    text-align: center;
    color: white;
    font-size:3rem;
    font-family: fantasy;
}